/* google font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);

}

:root {
  --background-color: #153131;
  --font-color: #c5d9e2;
  --font-family: 'Roboto', sans-serif;

  --footer: #A9CBB7;

  --header:#0F3443;
  --header-g:#34E89E;
}

html {
  font-size: 62.5%;



}



a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
 
  /* background:linear-gradient(#0F3443,#34E89E) */
  background: linear-gradient(#bdc3c7,#2c3e50);
}

.header .logo {
  /* padding-bottom: 2.3rem; */
  color: var(--font-color);
  font-family: var(--font-family);
  /* font-size: 3rem; */
  background: transparent;

}

.logo img{
  width: 50%;
  
  background: transparent;
}

/* .header .menu_bar{
    width: 40%;
} */
.header .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

}



.items a {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--font-color);
  position: relative;

}

.items a::before {
  content: "";
  height: 3px;
  border-radius: 2px;
  background-color: var(--font-color);
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  box-shadow: 1px 1px 16px 0 var(--font-color);
  transition: all .4s linear;
}

.items a:hover::before {
  width: 60%;
  transform: translateX(50%);
}


.btn a {
  width: 12rem;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: var(--font-color);
  background-color: var(--background-color);
  cursor: pointer;
  border: 2px solid var(--font-color);
  text-align: center;
  text-transform: capitalize;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 0 rgba(249, 246, 246, 0.5);
  transition: all .3s linear;
}

.btn a:hover {
  border-color: gold;
  color: gold;
}

.mobile-icons {
  display: none;
}








@media only screen and (max-width:57rem) {

  .header {
    position: relative;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .header .logo {
    width: 60%;
    z-index: 999;
  }

  .menu_bar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 50vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
  }

  .items {
    flex-direction: column;
    gap: 3rem;
  }

  .active .menu_bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .active .mobile-icons .fa-sharp {
    display: block;
    font-size: 4rem;
    border: 2px solid var(--font-color);
    padding: .2rem .5rem;
    color: var(--font-color);
  }

  .active .mobile-icons .fa-bars {
    display: none;
  }

  .mobile-icons {
    display: block;
    z-index: 999;

  }

  .mobile-icons .mobile-btn {
    font-size: 3.5rem;
    border: 2px solid var(--font-color);
    padding: .2rem .5rem;
    display: inline-block;

  }

  .mobile-icons .fa-sharp {
    display: none;
  }

  .btn a {
    border-radius: 1rem;
    box-shadow: 0px 0px 6px 0 rgba(249, 246, 246, 0.5);
    background: var(--background-color);
  }

  .btn {
    z-index: 999;
  }

}

@media only screen and (max-width:550px) {
  .header {
    display: flex;
    padding: 0 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
  }

  .header.logo {

    color: var(--font-color);
    font-family: var(--font-family);

    background: transparent;

  }

  .header .logo img {
    width: 10rem;
    padding-top: 1rem;
  }

  .btn a {
    width: 9rem;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    color: var(--font-color);
    background-color: var(--background-color);
    cursor: pointer;
    border: 2px solid var(--font-color);
    text-align: center;
    text-transform: capitalize;
    margin-right: 2rem;
  }

  .mobile-icons .mobile-btn {
    font-size: 2.5rem;
    border: 2px solid var(--font-color);
    padding: .2rem .5rem;
    display: inline-block;
    color: var(--font-color);

  }

  .active .mobile-icons .fa-sharp {
    display: block;
    font-size: 2.5rem;
    border: 2px solid var(--font-color);
    padding: .2rem .63rem;

  }

  .mobile-icons {
    margin-right: 1rem;
  }
}

/* ---------------home page slider strat here------------------  ------------------------------------------------------------- */














/* footer start here */


.footer-container {
  background-color: var(--background-color);
  /* opacity: .7; */
  /* padding: 4.5rem 5rem; */

  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--font-family);
  text-transform: capitalize;
}

.menu-footer{
  width: 100%;
  align-self: flex-end;
  margin-top: 7rem;
  
}

.menu-footer ul{
  display: flex;
  justify-content: center;
  gap: 3.7rem;
}

.menu-footer li a{
  font-size: 1.7rem;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
  position: relative;
  transition: all 0.3s linear;
}
.menu-footer a::after{
  content: "";
  width: 2px;
  height: 1.7rem;
  background-color: rgb(3, 104, 99);
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);

}

.menu-footer li a:hover{
  color:var(--font-color);
  padding-bottom: 13px;
}

.footer-container h3 {
  font-size: 2rem;
  color: #DEFFF2;
  opacity: 0.8;
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--font-color);
}

.footer-items {
  gap: 1.7rem;
  flex-direction: column;
  display: flex;
  margin-top: 2.2rem;

}

/* .footer-container .footer-box1{
  width: 22%;
} */

.footer-container a {
  color: var(--font-color);
  font-size: 1.7rem;
}

.footer-container .footer-items a:hover {
  color: #DEFFF2;
}

/* ===========================================media query ===========================================
======================================
================================================================= */


@media only screen and (max-width:55rem) {

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    /* padding: 2rem 1rem; */
    flex-wrap: wrap;
    /* gap: 1.4rem 0; */
    width: 100%;

  }
  .menu-footer{
    width: 100%;
    
    margin-top: 1.4rem;
    
  }
  
   .menu-footer ul{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    flex-wrap: wrap;
    
  }

  /* .menu-footer li{
    border-right: 2px solid black;
    padding-left: 0.5rem;
  } */
   
  .menu-footer li a{
    font-size: 1rem;
    
  }
  

  .footer-container .footer-box1 {
    width: 40%;
    /* margin: 1.2rem 0; */
  }

  .footer-container a {
    color: var(--font-color);
    font-size: 1rem;
  }

  .footer-container h3 {
    font-size: 1.5rem;
    color: #DEFFF2;
    opacity: 0.8;
  }

  .footer-container .footer-items a:hover {
    color: #DEFFF2;
  }

}

/* media query end here============================================================== */

/* copyright section and social links */

.copyright-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 6.5rem; */
  background-color: black;
  padding: 1.4rem 0;
}

.copyright-section .copyright-text p {
  color: white;
  font-size: 1.7rem;
  text-transform: capitalize;


}

.copyright-section .copyright-text span {
  color: white;
  font-size: 2rem;
  margin-left: 0.2rem;
  margin-top: 0.6rem;


}

/* social links */

.social-icons {
  display: flex;
  gap: 4rem;
  



}

.social-icons a{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  line-height: 4rem;
  
  background-color: white;
  
  position: relative;
  text-align: center;
  color: #000;
  box-shadow: 0 0 0.8rem 0.2rem white;
  font-family: var(--font-family);
  overflow: hidden;
  transition: all 0.3s linear;
  
  
  
}
.social-icons a .fab{
  font-size: 2rem;
  z-index: 10;
  line-height: 4rem;
  position: relative;
  transition: color 0.5s linear;
  
  
  
}

 






.social-icons a::before{
  content: "";
  width:100%;
  height: 100%;
  background: linear-gradient(-45deg,#ed1c94,#ffec17);
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.3s linear;
}

.social-icons a:hover::before{
  top: 0;
 
}

.social-icons a:hover .fab{
  color: white;
}

/* .social-icons a:hover .fa-twitter{
  color: #0097e6;
} */

.social-icons a:hover{
  transform: translateY(-1rem);
}





/* .social-icons .fa-instagram{
  color: #fccc63;
} */



@media only screen and (max-width:55rem) {

  html{
    font-size: 56.5%;
  }

  .logo img{
    width: 25%;
  }

  .copyright-section {
    display: flex;
    flex-direction: column-reverse;
    height: 12rem;
    /* padding: 0 1rem; */

  }

  .footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .copyright-section .copyright-text p {

    font-size: 1.4rem;




  }

  .copyright-section .copyright-text span {

    font-size: 1.2rem;
    margin-left: 0.2rem;
    margin-top: 0.6rem;


  }

  
}