@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    padding: 0;margin: 0;box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
     --font: 'Poppins', sans-serif;
}

/* beard contaier means main conatiner */

.beard-container{
    margin: 0 auto;
    padding: 2rem 0;
    width: 60%;
}

.beard-heading h1{
    font-size: 4rem;
    font-family: var(--font);
    margin-bottom: 3rem;
}

.editor{
    /* border: 2px solid salmon; */
    display: flex;
    margin-bottom: 8rem;
    gap: 1.5rem;
}
.editor img{
    border-radius: 50%;
    width: 5rem;
   
}

.editor .editor-details{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 0rem;
    /* padding-top: 0.5rem; */
}

.editor-details p{
    font-size: 1.3rem;
    font-family: var(--font);
    font-weight: bold;
}

  .border{
   border-bottom: 2px solid rgb(248, 6, 6);
}

.beard-description p{
   font-size: 1.8rem;
   font-family: var(--font);
}


/* beard style box */

.beard-style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 5rem;
}

.beard-name{
    display: flex;
    gap: 3.4rem;
    height: 5rem;
    align-items: center;
    /* border: 2px solid green; */
    width: 100%;
}

.beard-name span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-family: var(--font);
}

.beard-name h2{
    font-size: 3rem;
    font-family: var(--font);
    letter-spacing: 2px;
}

.beard-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border:  2px solid brown; */
    width: 100%;
}

.beard-img p{
    font-size: 1.5rem;
    font-style: italic;
}

.beard-text p{
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}


/* responsive code for 550px========================= */

@media only screen and (max-width:550px){
    html{
        font-size: 56.5%;
    }

    .beard-container{
        /* margin: 0 auto; */
        padding: 2rem 2rem;
        width: 100%;
    }
    .beard-heading h1{
        font-size: 3rem;
        font-family: var(--font);
        margin-bottom: 2rem;
        text-align: center;
    }
    .editor-details p{
        font-size: 1.5rem;
        font-family: var(--font);
        font-weight: bold;
    }
    .beard-img{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* border: 2px solid red; */
      
    }
    .beard-img img{
        width: 80%;
        height: 30rem;
    }

    .beard-img p{
        font-size: 2rem;
    }

    .beard-text p{
        font-size: 1.5rem;
        font-family: var(--font);
        /* color: black; */
        
    }
    .beard-name span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid red;
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        font-family: var(--font);
    }
    .beard-name{
        gap: 1rem;
    }
    .beard-name h2{
        font-size: 2.5rem;
    }

}